.#*
*~
\#*#
*BAK.adl
bin/
builddir/
configure/*local*
.cvsignore
/db/
dbd/
/dbmotor/
ethercatmc.Makefile
html/
include/
iocBoot/
lib/
logs/
O.*
*.pyc
*.swp
test/logs
test/log-*.txt
test/motionTestV2/*.*log*
test/motionTestV2/venvpython3*/
test/pytests36/*.*log*
test/pytests36/*.*log*.failed
test/pytests36/venvpython3*/
test/pythonscripts/log-*.txt
test/pythonscripts/mon*.txt
