.#*
*.pyc
*.swp
*BAK.adl
*~
\#*#
.cvsignore
/db/
/dbmotor/
bin/
builddir/
configure/*local*
dbd/
ethercatmc.Makefile
html/
include/
iocBoot/
lib/
logs/
O.*
test/logs
test/pytests36/venvpython3*/
test/pytests36/*.*log*
test/pytests36/*.*log*.failed
test/pythonscripts/log-*.txt
