*.pyc
*.swp
*BAK.adl
*~
.#*
.cvsignore
.iocsh_history
/db/
/dbmotor/
O.*
\#*#
bin/
builddir/
configure/*local*
dbd/
ethercatmc.Makefile
ethercatmcExApp/op/Boy/tools/e-cnen.mid
ethercatmcExApp/op/Boy/tools/e-foff.mid
ethercatmcExApp/op/Boy/tools/e-homf-homr.mid
ethercatmcExApp/op/Boy/tools/motorx-piezo.mid
ethercatmcExApp/op/Boy/tools/motorx-pils.mid
html/
include/
iocBoot/
lib/
logs/
test/log-*.txt
test/logs
test/motionTestV2/*.*log*
test/motionTestV2/venvpython3*/
test/pytests36/*.*log*
test/pytests36/*.*log*.failed
test/pytests36/venvpython3*/
test/pythonscripts/log-*.txt
test/pythonscripts/mon*.txt
