#Which files need CRLF handling
# Default is auto
* text=auto

# But we can help Git, because we now about some file extensions
*.bat  text eol=crlf
*.cmd  -text
*.gif  -text
*.opi  -text
*.png  -text
*.ppt* -text  
*.py   text eol=lf
*.sh   text eol=lf
