#
# Template for the "Defined Positions"
# (Some call it predefined)
#


# This record contains an index to the list of positions for motor.
# The multipositioner writes to the VAL field to select one.
record(longout, "$(PREFIX)$(MOTOR_NAME)-DefPosSEL") {
  field(DESC, "$(DESC)")
  field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosSELCALC1")
}

#
# Range check of the index - must be 0..11
#
record(calcout, "$(PREFIX)$(MOTOR_NAME)-DefPosSELCALC1") {
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosSELCALC2")
  field(CALC, "A<12?1:0")
  field(INPA, "$(PREFIX)$(MOTOR_NAME)-DefPosSEL.VAL")
  field(OUT, "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.SELN PP")
  field(OOPT, "When Non-zero")
  field(DOPT, "Use OCAL")
  field(OCAL, "A")
}


#
# The sel record itself, the heart of our business.
#
record(sel,     "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1") {
    field(DESC, "Predefined Positions")
    field(FLNK, "$(PREFIX)$(MOTOR_NAME)")
    field(EGU,  "$(EGU)")
    field(PREC, "$(PREC)")
    field(INPA, "$(INPA=$(PREFIX)$(MOTOR_NAME).LLM) CPP MS")
    field(INPB, "$(INPB=0.0)")
    field(INPC, "$(INPC=0.0)")
    field(INPD, "$(INPD=0.0)")
    field(INPE, "$(INPE=0.0)")
    field(INPF, "$(INPF=0.0)")
    field(INPG, "$(INPG=0.0)")
    field(INPH, "$(INPH=0.0)")
    field(INPI, "$(INPI=0.0)")
    field(INPJ, "$(INPJ=0.0)")
    field(INPK, "$(INPK=0.0)")
    field(INPL, "$(INPL=$(PREFIX)$(MOTOR_NAME).HLM) CPP MS")
    field(SELM, "$(SELM=0)")
    field(SELN, "$(SELN=0)")
    field(NVL,  "$(NVL)")
    field(SCAN, "Passive")
}

#
# Records to hold the value for the 12 positions
#
record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALA") {
  field(DESC, "First position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALA=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.A")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALB") {
  field(DESC, "Second position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALB=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.B")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALC") {
  field(DESC, "Third position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALC=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.C")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALD") {
  field(DESC, "Fourth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALD=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.D")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALE") {
  field(DESC, "Fifth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALE=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.E")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALF") {
  field(DESC, "Sixth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALF=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.F")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALG") {
  field(DESC, "Seventh position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALG=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.G")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALH") {
  field(DESC, "Eigth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALH=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.H")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALI") {
  field(DESC, "Ninth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALI=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.I")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALJ") {
  field(DESC, "Tenth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALJ=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.J")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALK") {
  field(DESC, "Eleventh position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALK=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.K")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}


record(ao, "$(PREFIX)$(MOTOR_NAME)-DefPosVALL") {
  field(DESC, "Twelth position")
  field(DTYP, "Soft Channel")
  field(VAL,  "$(VALL=0)")
  field(OUT,  "$(PREFIX)$(MOTOR_NAME)-DefPosSEL1.L")
  field(PINI, "YES")
  field(PREC, "$(PREC)")
  field(EGU,  "$(EGU)")
  #field(FLNK, "$(PREFIX)$(MOTOR_NAME)-DefPosCALCSEL")
}

