##
## Monitor motion controller variables
##

record(stringin,   "$(PREFIX)UTCtime") {
   field(DTYP, "stream")
   field(DESC, "UTC time in MCU")
   field(INP,  "@UTCtime.proto getUTCtime() $(PORT) $(ADDR)")
   field(SCAN, ".2 second")
}
