record(ai, "$(PREFIX)$(MOTOR_NAME)-Temp")
{
    field(DTYP, "asynFloat64")
    field(DESC, "$(DESC=MotorTemperature)")
    field(EGU,  "$(EGU=DegreeCelsius)")
    field(INP,  "@asyn($(MOTOR_PORT),$(AXIS_NO))Temp")
    field(SCAN, "I/O Intr")
}
