record(int64in, "$(PREFIX)DClockEL1252")
{
    field(DTYP, "asynInt64")
    field(DESC, "Raising edge of 1 Hz pulse")
    field(EGU,  "nanoSeconds")
    field(INP,  "@asyn($(MOTOR_PORT),0)DClockEL1252")
    field(SCAN, "I/O Intr")
    field(TSE, -2)
}

record(int64in, "$(PREFIX)SystemDClock")
{
    field(DTYP, "asynInt64")
    field(DESC, "SystemDClock")
    field(EGU,  "nanoSeconds")
    field(INP,  "@asyn($(MOTOR_PORT),0)SystemDClock")
    field(SCAN, "I/O Intr")
    field(TSE, -2)
}


