record(bo, "$(SYSPFX)$(AXIS_NAME)-OpenClutch")
{
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC=Clutch)")
    field(OUT,  "@asyn($(MOTOR_PORT),$(AXIS_NO))OpenClutch")
    field(ZNAM, "Closed")
    field(ONAM, "Open")
    info(asyn:READBACK,"1")
}
