record(ai, "$(PREFIX)$(MOTOR_NAME)-Temp")
{
    field(DTYP, "asynFloat64")
    field(DESC, "$(DESC=MotorTemperature)")
    field(EGU,  "$(EGU=°C)")
    field(PREC,  "2")
    field(SMOO, "0.8")
    field(ADEL, "0.05")
    field(MDEL, "0.05")
    field(INP,  "@asyn($(MOTOR_PORT),$(AXIS_NO))MotorTemp")
    field(SCAN, "1 second")
}
