# Aux bit as binary record
record(bi, "$(SYSPFX)$(AXIS_NAME)-AUXBIT$(AUX_BIT_NAME_R)") {
    field(DESC, "AUXBIT$(AUX_BIT_NAME_R)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(MOTOR_PORT),$(AXIS_NO))AUXBIT$(AUX_BIT_NAME_P)")
    field(SCAN, "I/O Intr")
    field(ZNAM, "0")
    field(ONAM, "1")
}
