record(bo, "$(P)$(R)-ReleaseBrake")
{
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC=Clutch)")
    field(OUT,  "@asyn($(MOTOR_PORT),$(AXIS_NO))ReleaseBrake")
    field(ZNAM, "Engage")
    field(ONAM, "Release")
    info(asyn:READBACK,"1")
}
