record(longin, "$(P)$(R)")
{
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC)")
    field(EGU,  "16 bits")
    field(INP,  "@asyn($(MOTOR_PORT),$(CHNO))$(ASYNPARAMNAME)")
    field(SCAN, "I/O Intr")
    field(TSE,  "$(TSE=0)")
}
