# The Name of the system
record(stringin, "$(PREFIX)PlcName") {
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(MOTOR_PORT),0)MOTOR_MESSAGE_TEXT")
    field(SCAN, "I/O Intr")
}

record (asyn, "$(PREFIX)$(MOTOR_PORT):asyn")
{
}
