record(int64in, "$(PREFIX)DClockEL1252")
{
    field(DTYP, "asynInt64")
    field(DESC, "Raising edge of 1 Hz pulse")
    field(EGU,  "nanoSeconds")
    field(INP,  "@asyn($(MOTOR_PORT),0)DClockEL1252")
    field(SCAN, "I/O Intr")
    field(TSE, -2)
}

record(stringin, "$(PREFIX)DClockEL1252ASC") {
  field(DTYP, "Soft Timestamp")
  field(TSEL, "$(PREFIX)DClockEL1252 CP")
  field(INP, "@%Y/%m/%d %H:%M:%S.%06f")
}

