record(ai, "$(PREFIX)$(MOTOR_NAME)-Temp")
{
    field(DTYP, "asynFloat64")
    field(DESC, "$(DESC=MotorTemperature)")
    field(EGU,  "$(EGU=°C)")
    field(PREC,  "$(PREC=1)")
    field(ADEL,  "0.11")
    field(MDEL,  "0.11")
    field(INP,  "@asyn($(MOTOR_PORT),$(AXIS_NO))MotorTemp")
    field(SCAN, "I/O Intr")
}
